{% extends 'base.html' %}

{% block content %}
    <hgroup>
        <h2>Добро пожаловать на сайт аренды комнат</h2>
        <h3>Идеальное место для вашего мероприятия</h3>
    </hgroup>
    <p>Наш проект предлагает удобный сервис для аренды комнат на час. Вы можете выбрать подходящую комнату, забронировать время и разместить информацию о вашем мероприятии в афише.</p>
    <figure>
        <img src="https://source.unsplash.com/featured/?office,meeting" alt="Офисная комната">
        <figcaption>Пример комнаты для аренды</figcaption>
    </figure>
{% endblock %}